body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #8d99ae;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    background-color: #333;
    color: #fff;
    padding: 10px;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
    margin-top: 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

main {
    padding-top: 60px;
}

.btnlogin-reg {
    margin-left: 15rem;
}

.btnlogin-reg a {
    background: black;
    padding: 10px 15px;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

h1,
h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input,
select {
    padding: 10px;
    margin-top: 5px;
}

button {
    margin-top: 20px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
}

.contact-container {
    text-align: center;
}

.social-media-container {
    text-align: center;
}

.social-media {
    display: flex;
    margin-left: 14rem;
}